html,body{
    margin:0;
    padding:0;
}
body{
    margin:auto;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
#lard{
    width:400px;
    height:400px;
    margin:auto;
}
#seal{
    width:400px;
    height:400px;
    margin:auto;
}
.dboutput{
    width:80%;
}